
<html ng-app="myapp">
	<head>
	<title>fibArray</title>
		<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
		<script src="@routes.Assets.at("javascripts/ajax.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div ng-controller="fibCtrl">
			<input type="radio" name ="flg" ng-click="getDispFlg('normal')" checked>normalList</input>
			<input type="radio" name ="flg" ng-click="getDispFlg('number')">numberList</input>
			<input type="radio" name ="flg" ng-click="getDispFlg('color')">colorList</input>
			<br>
			size : 
			<input type="number" ng-model="fibSize" ng-change="size()" id="size" min="0" max="100"></input>
			<div ng-show="dispFlg.normalFlg">
				<ul>
					<li ng-repeat="fib in fibs track by $index">
						{{fib}}
					</li>
				</ul>
			</div>
			<div ng-show="dispFlg.numberFlg">
				<ol>
					<li ng-repeat="fib in fibs track by $index">
						{{fib}}
					</li>
				</ol>
			</div>
			<div ng-show="dispFlg.colorFlg">
				<table class="table">
					<tbody>
						<tr class="success" ng-repeat="fib in fibs track by $index">
							<th>
								{{fib}}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>



